<div class="restaurant-banner hidden-xs hidden-sm">
    <div class="container">
      
       <div class="row restaurant-banner-info">
           
            <div class="col-md-4 the-rest-info">
               <h3><%=  @seller.name %></h3>
               <div class="restaurant-rating">
                   <span>Rating</span>
                 3.3
                 <%= rating_for @seller %>
                </div>
                <div>
                    <span>Opening Hours</span></br>
                     <i class="fa fa-clock-o">
                       <%= @seller.opening_time.to_formatted_s(:time) %> - <%= @seller.closing_time.to_formatted_s(:time) %> &nbsp
                   </i>
                </div>
                 <span class="info food-type"><%= @seller.description %></span>
            </div>
            
           <div class="col-md-2 rest-banner-cash">
               <h4>
                   <i class="fa fa-clock-o">
                       <%= @seller.opening_time.to_formatted_s(:time) %> - <%= @seller.closing_time.to_formatted_s(:time) %> &nbsp
                   </i>
               </h4>
            </div>
            
            <div class="col-md-2 rest-banner-status">
                <h3>
                    <% if (@seller.opening_time.to_formatted_s(:time).to_i .. @seller.closing_time.to_formatted_s(:time).to_i).include?(Time.now.to_formatted_s(:time).to_i) %>
                    <span class="label label-success">Open</span>
                    <%else%>
                    <span class="label label-danger">Closed</span>
                    <%end%>
                </h3>
            </div>
            
           <div class="col-md-4 restaurant-banner-image">
               <%= image_tag(@seller.image_url, alt: @seller.name, class: "img-responsive img-circle") %>
            </div>
        </div> 
    </div>
</div>

<div class="container">
    <div id="page-content" class="row">
        <div class="col-sm-8">
            <div class="row card">
                    <div class="col-md-3 hidden-xs hidden-sm">
                        <h3><%= fa_icon "coffee" %> Cuisines</h3>
                        <ul>
                            <% @categories.each do |category| %>
                            <li>
                                <%=fa_icon 'caret-right'%>
                                <%= link_to category.name, '#cat'+category.id.to_s %></li>
                            <% end %>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <%if @categories.empty?%>
                        <div class="alert alert-info">No updated menu for this restaurant </div>
                        <% end%>
                        <% @categories.each do |category|%>
                           <div id="cat<% category.id.to_s%>" class="panel panel-default noborder">
                              <div class="panel-heading">
                                <h3><%= category.name %></h3>
                            </div>
                            <div class="panel-body">
                            <ul class="food-menu">
                                <!--EOF item category  -->
                            <% category.menu_items.each do |menu| %>
                                <li>
                                    <div class="col-sm-4 col-xm-3">
                                        <%= image_tag(menu.image_url, alt: menu.name, class: "menu_item_img") %>
                                    </div>
                                        <div class="container-fluid">
                                            <p class="name"><%= menu.name %></p>
                                            <p class="info"><%= menu.description %></p>
                                        </div>
                                        <div class="pull-right">
                                            <span class="pricenr"><%= menu.price%></span>
                                            <div class="actions">
                                              
                                                <%=button_to "Buy", order_items_path(menu_id: menu.id),class: "btn btn-info" %>
                                            </div>
                                        </div>
                                    </li>
                                    <hr>
                            <% end %>
                               </ul>
                            </div>
                            </div>
                             <!--panel body{dispaly menu items-->
                        <%end%>
                        </div>
                    </div>
                    
            </div>
        <div class="col-sm-4">
            <div class="panel inner-box-content panel-danger">
                <div class="panel-heading">Current Order</div>
                <div class="panel-body basket">
                <!-- shopping list -->
                    <ul class="basketList"> 
                    <!-- shopping item -->
                  
                    <!--loop through order to display order items-->
                    <% order_items.each do |order_item|%>
                        <li class="basketItemRow">
                            <div class="item">
                                <div class="msg">
                                <!-- action buttons -->
                                    <span class="actions"> 
                                        <span class="price"><%=print_price(order_item.subtotal)%></span>
                                        <!-- button add -->
                                        <a data-id="<%=order_item.menu_item_id%>" class="button yum add">
                                            <span class="fa-stack">
                                                <i class="fa fa-circle-o fa-stack-2x"></i>
                                                <i class="fa fa-plus fa-stack-1x"></i>
                                            </span>
                                        </a>
                                        <!-- button minus -->
                                        <a data-id="<%=order_item.menu_item_id%>"  class="button yum minus">
                                            <span class="fa-stack">
                                                <i class="fa fa-circle-o fa-stack-2x"></i>
                                                <i class="fa fa-minus fa-stack-1x"></i>
                                            </span>
                                        </a>
                                    </span>
                                    <span class="quantity"><%=order_item.quantity%></span>
                                    <span class="xer"> x </span>
                                    <span class="name"><%=order_item.menu_item.name%></span>
                                </div>
                            </div>
                        </li>
                     <%end%>
                        <!--totals-->
                        <li class="total">
                            <div class="item">
                                <div class="msg">
                                    <span class="actions">
                                        <span class="price">
                                            <span class="totalPrice"><%= print_price(cart_total) %></span>
                                        </span>
                                    </span> 
                                    <span class="name">Total:</span>
                                </div>
                             </div>
                        </li>
                    </ul>
                    <a class="btn btn-success">Checkout <%= fa_icon "long-arrow-right" %></a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>