<div class="panel-group" id="accordion">
  <% cities.each do |city| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <%= fa_icon "globe" %>
            <a data-toggle="collapse" data-parent="#accordion" href="#<%= city.name+city.id.to_s %>">
            <%=city.name%></a>
        </h4>
      </div>
      <div id="<%= city.name+city.id.to_s %>" class="panel-collapse collapse">
        <div id="panel" class="panel-body">
          <table class="table">
            <%city.hoods.each do|hood|%>
              <tr>
                  <td>
                    <%= fa_icon "map-marker"%>
                    <%= link_to hood.name, hood_url(hood.id)%>
                  </td>
              </tr>
            <%end%>
          </table>
        </div>
      </div>
    </div>
    <% end %>
</div>
      

