- if !sellers.empty?
  .card
    - sellers.each do |seller|
      .well.well-lg
        .row
          .col-xs-3.col-sm-3.col-md-3.col-lg-3
            = image_tag(seller.image_url,alt: seller.name,class: "img-responsive")
          .col-xs-9.col-sm-9.col-md-9.col-lg-9
            %h5= link_to "#{seller.name}",menu_url(seller)
            = link_to "View Menu",menu_url(seller), class: "btn btn-danger pull-right"
            %p= seller.description
            %p
              Rating:
              \#{fa_icon "star"}
              \#{rating_for seller}
- else
  .alert.alert-danger
    %p
      No Restaurants in this Neighborhood 
      %b.text-uppercase.text-primary
        #{@hood.name}
